# Track large binary files with Git LFS
binaries/**/*.exe filter=lfs diff=lfs merge=lfs -text
binaries/**/ffmpeg filter=lfs diff=lfs merge=lfs -text
binaries/**/magick filter=lfs diff=lfs merge=lfs -text
*.tar.xz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
binaries/darwin-arm64/yt-dlp filter=lfs diff=lfs merge=lfs -text
binaries/win32-x64/yt-dlp.exe filter=lfs diff=lfs merge=lfs -text
